ul{
	margin: 0px;
	padding:0px;
	list-style:none;
	list-style-type: none; 
  	background-color: #808080;

}
ul li{
	float: left;
	width: 290px;
	height: 35px;
	background-color:black;
	opacity: .8;
	line-height: 40px;
	text-align:center;
	font-size:15px;
}
ul li a {
	text-decoration:none;
	color:white;
	display:block;

}
ul li a:hover{
		background-color:green;
        	}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	display:block;
		}	
